docs/extensions/gpx_fix/0/3/gpx_fix.xsd

<?xml version="1.0"?>
<xsd:schema targetNamespace="http://logiqx.github.io/gpx-ideas/extensions/gpx_fix/0/3"
  elementFormDefault="qualified"
  xmlns="http://logiqx.github.io/gpx-ideas/extensions/gpx_fix/0/3"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:annotation><xsd:documentation>
    This schema defines fix type extensions to be used with the GPX 1.1 schema.
    The root element defined by this schema is intended to be used as a child
    element within extensions and is suitable for wpt / rtept / trkpt elements.
    The GPX 1.1 schema is available at https://www.topografix.com/GPX/1/1/gpx.xsd.
  </xsd:documentation></xsd:annotation>

  <xsd:element name="fix" type="fixType" />

  <xsd:complexType name="fixType">
    <xsd:annotation>
      <xsd:documentation>
        Details of the GNSS fix type and any techniques or technologies augmenting the solution.
      </xsd:documentation>
    </xsd:annotation>

    <xsd:sequence>
      <xsd:element name="gps" type="gpsType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            GPS satellite counts, overall and (optionally) for specific signals.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="glonass" type="glonassType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            GLONASS satellite counts, overall and (optionally) for specific signals.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="galileo" type="galileoType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Galileo satellite counts, overall and (optionally) for specific signals.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="beidou" type="beidouType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            BeiDou / BDS satellite counts, overall and (optionally) for specific signals.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="qzss" type="qzssType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            QZSS satellite counts, overall and (optionally) for specific signals.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="navic" type="navicType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            NavIC / IRNSS satellite counts, overall and (optionally) for specific signals.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="sbas" type="sbasType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            SBAS satellite counts, overall and (optionally) for specific signals.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <xsd:element name="extensions" type="extensionsType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            You can add extend fixType by adding your own elements from another schema here.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>

    <xsd:attribute name="mode" type="modeType" default="3d">
      <xsd:annotation>
        <xsd:documentation> GNSS fix mode. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="aug" type="augmentationType" default="none">
      <xsd:annotation>
        <xsd:documentation> GNSS augmentation. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="dr" type="deadReckoningType" default="no">
      <xsd:annotation>
        <xsd:documentation> Dead reckoning. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="man" type="manualType" default="no">
      <xsd:annotation>
        <xsd:documentation> Manual input. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="sim" type="simulationType" default="no">
      <xsd:annotation>
        <xsd:documentation> Simulation. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="valid" type="validityType" default="yes">
      <xsd:annotation>
        <xsd:documentation> Data validity. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="gpsType">
    <xsd:annotation>
      <xsd:documentation>
        GPS satellite counts, overall and (optionally) for specific signals.
      </xsd:documentation>
    </xsd:annotation>

    <xsd:sequence>
      <xsd:element name="extensions" type="extensionsType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            You can add extend gpsType by adding your own elements from another schema here.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>

    <xsd:attribute name="id" type="gpsSignalType">
      <xsd:annotation>
        <xsd:documentation> GPS signal. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="view" type="xsd:nonNegativeInteger">
      <xsd:annotation>
        <xsd:documentation> Number of GPS satellites in view. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="lock" type="xsd:nonNegativeInteger">
      <xsd:annotation>
        <xsd:documentation> Number of GPS satellites with lock. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="glonassType">
    <xsd:annotation>
      <xsd:documentation>
        GLONASS satellite counts, overall and (optionally) for specific signals.
      </xsd:documentation>
    </xsd:annotation>

    <xsd:sequence>
      <xsd:element name="extensions" type="extensionsType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            You can add extend glonassType by adding your own elements from another schema here.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>

    <xsd:attribute name="id" type="glonassSignalType">
      <xsd:annotation>
        <xsd:documentation> GLONASS signal. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="view" type="xsd:nonNegativeInteger">
      <xsd:annotation>
        <xsd:documentation> Number of GLONASS satellites in view. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="lock" type="xsd:nonNegativeInteger">
      <xsd:annotation>
        <xsd:documentation> Number of GLONASS satellites with lock. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="galileoType">
    <xsd:annotation>
      <xsd:documentation>
        Galileo satellite counts, overall and (optionally) for specific signals.
      </xsd:documentation>
    </xsd:annotation>

    <xsd:sequence>
      <xsd:element name="extensions" type="extensionsType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            You can add extend galileoType by adding your own elements from another schema here.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>

    <xsd:attribute name="id" type="galileoSignalType">
      <xsd:annotation>
        <xsd:documentation> Galileo signal. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="view" type="xsd:nonNegativeInteger">
      <xsd:annotation>
        <xsd:documentation> Number of Galileo satellites in view. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="lock" type="xsd:nonNegativeInteger">
      <xsd:annotation>
        <xsd:documentation> Number of Galileo satellites with lock. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="beidouType">
    <xsd:annotation>
      <xsd:documentation>
        BeiDou / BDS satellite counts, overall and (optionally) for specific signals.
      </xsd:documentation>
    </xsd:annotation>

    <xsd:sequence>
      <xsd:element name="extensions" type="extensionsType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            You can add extend beidouType by adding your own elements from another schema here.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>

    <xsd:attribute name="id" type="beidouSignalType">
      <xsd:annotation>
        <xsd:documentation> BeiDou / BDS signal. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="view" type="xsd:nonNegativeInteger">
      <xsd:annotation>
        <xsd:documentation> Number of BeiDou / BDS satellites in view. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="lock" type="xsd:nonNegativeInteger">
      <xsd:annotation>
        <xsd:documentation> Number of BeiDou / BDS satellites with lock. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="qzssType">
    <xsd:annotation>
      <xsd:documentation>
        QZSS satellite counts, overall and (optionally) for specific signals.
      </xsd:documentation>
    </xsd:annotation>

    <xsd:sequence>
      <xsd:element name="extensions" type="extensionsType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            You can add extend qzssType by adding your own elements from another schema here.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>

    <xsd:attribute name="id" type="qzssSignalType">
      <xsd:annotation>
        <xsd:documentation> QZSS signal. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="view" type="xsd:nonNegativeInteger">
      <xsd:annotation>
        <xsd:documentation> Number of QZSS satellites in view. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="lock" type="xsd:nonNegativeInteger">
      <xsd:annotation>
        <xsd:documentation> Number of QZSS satellites with lock. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="navicType">
    <xsd:annotation>
      <xsd:documentation>
        NavIC / IRNSS satellite counts, overall and (optionally) for specific signals.
      </xsd:documentation>
    </xsd:annotation>

    <xsd:sequence>
      <xsd:element name="extensions" type="extensionsType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            You can add extend navicType by adding your own elements from another schema here.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>

    <xsd:attribute name="id" type="navicSignalType">
      <xsd:annotation>
        <xsd:documentation> NavIC / IRNSS signal. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="view" type="xsd:nonNegativeInteger">
      <xsd:annotation>
        <xsd:documentation> Number of NavIC / IRNSS satellites in view. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="lock" type="xsd:nonNegativeInteger">
      <xsd:annotation>
        <xsd:documentation> Number of NavIC / IRNSS satellites with lock. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="sbasType">
    <xsd:annotation>
      <xsd:documentation>
        SBAS satellite counts, overall and (optionally) for specific signals.
      </xsd:documentation>
    </xsd:annotation>

    <xsd:sequence>
      <xsd:element name="extensions" type="extensionsType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            You can add extend sbasType by adding your own elements from another schema here.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>

    <xsd:attribute name="id" type="sbasSignalType">
      <xsd:annotation>
        <xsd:documentation> SBAS signal. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="view" type="xsd:nonNegativeInteger">
      <xsd:annotation>
        <xsd:documentation> Number of SBAS satellites in view. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="lock" type="xsd:nonNegativeInteger">
      <xsd:annotation>
        <xsd:documentation> Number of SBAS satellites with lock. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="extensionsType">
    <xsd:annotation>
      <xsd:documentation>
        Extensions allow for additional elements from outside of this schema.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:any namespace="##other" processContents="strict" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
            You can add extend complex types by adding your own elements from another schema here.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:any>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="modeType">
    <xsd:annotation>
      <xsd:documentation>
        The GNSS fix mode can be found in the GSA sentence (1 = none, 2 = 2D fix, 3 = 3D fix).
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="none"/>
      <xsd:enumeration value="2d"/>
      <xsd:enumeration value="3d"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="augmentationType">
    <xsd:annotation>
      <xsd:documentation>
        A regular DGPS / DGNSS solution using SBAS corrections only requires the traditional fix element.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="none"/>
      <xsd:enumeration value="dgnss"/>
      <xsd:enumeration value="ppk-fixed"/>
      <xsd:enumeration value="ppk-float"/>
      <xsd:enumeration value="ppp"/>
      <xsd:enumeration value="ppp-ar"/>
      <xsd:enumeration value="ppp-rtk"/>
      <xsd:enumeration value="rtk-fixed"/>
      <xsd:enumeration value="rtk-float"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="deadReckoningType">
    <xsd:annotation>
      <xsd:documentation>
        A solution that only uses dead reckoning may be determined using the quality indicator in GGA (value = 6),
        or the mode indicator of GLL, VTG, RMC and GNS (value = "E").
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="no"/>
      <xsd:enumeration value="yes"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="manualType">
    <xsd:annotation>
      <xsd:documentation>
        Manual input is fairly self-explanatory. The position is not derived from a GPS / GNSS solution.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="no"/>
      <xsd:enumeration value="yes"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="simulationType">
    <xsd:annotation>
      <xsd:documentation>
        A simulation is also fairly self-explanatory, but will primarily be used by researchers and GNSS engineers.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="no"/>
      <xsd:enumeration value="yes"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="validityType">
    <xsd:annotation>
      <xsd:documentation>
        A solution may be deemed invalid either because a GNSS fix is unavailable,
        or because user limits have been exceeded (e.g. DOP, elevation mask, dynamic model, etc).
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="no"/>
      <xsd:enumeration value="yes"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="gpsSignalType">
    <xsd:annotation>
      <xsd:documentation>
        GPS signal.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="l1ca"/>
      <xsd:enumeration value="l1py"/>
      <xsd:enumeration value="l1m"/>
      <xsd:enumeration value="l1c"/>
      <xsd:enumeration value="l2py"/>
      <xsd:enumeration value="l2m"/>
      <xsd:enumeration value="l2c"/>
      <xsd:enumeration value="l5"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="glonassSignalType">
    <xsd:annotation>
      <xsd:documentation>
        GLONASS signal.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="l1of"/>
      <xsd:enumeration value="l1sf"/>
      <xsd:enumeration value="l1oc"/>
      <xsd:enumeration value="l1sc"/>
      <xsd:enumeration value="l2of"/>
      <xsd:enumeration value="l2sf"/>
      <xsd:enumeration value="l2oc"/>
      <xsd:enumeration value="l2sc"/>
      <xsd:enumeration value="l3oc"/>
      <xsd:enumeration value="all"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="galileoSignalType">
    <xsd:annotation>
      <xsd:documentation>
        Galileo signal.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="e1a"/>
      <xsd:enumeration value="e1bc"/>
      <xsd:enumeration value="e5a"/>
      <xsd:enumeration value="e5b"/>
      <xsd:enumeration value="e5"/>
      <xsd:enumeration value="e6a"/>
      <xsd:enumeration value="e6bc"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="beidouSignalType">
    <xsd:annotation>
      <xsd:documentation>
        BeiDou / BDS signal.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="b1i"/>
      <xsd:enumeration value="b1q"/>
      <xsd:enumeration value="b1c"/>
      <xsd:enumeration value="b1a"/>
      <xsd:enumeration value="b2i"/>
      <xsd:enumeration value="b2q"/>
      <xsd:enumeration value="b2a"/>
      <xsd:enumeration value="b2b"/>
      <xsd:enumeration value="b2"/>
      <xsd:enumeration value="b3i"/>
      <xsd:enumeration value="b3q"/>
      <xsd:enumeration value="b3a"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="qzssSignalType">
    <xsd:annotation>
      <xsd:documentation>
        QZSS signal.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="l1ca"/>
      <xsd:enumeration value="l1cb"/>
      <xsd:enumeration value="l1c"/>
      <xsd:enumeration value="l1s"/>
      <xsd:enumeration value="l1sb"/>
      <xsd:enumeration value="l2c"/>
      <xsd:enumeration value="l5"/>
      <xsd:enumeration value="l5s"/>
      <xsd:enumeration value="l6d"/>
      <xsd:enumeration value="l6e"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="navicSignalType">
    <xsd:annotation>
      <xsd:documentation>
        NavIC / IRNSS signal.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="l1sps"/>
      <xsd:enumeration value="l5sps"/>
      <xsd:enumeration value="l5rs"/>
      <xsd:enumeration value="ssps"/>
      <xsd:enumeration value="srs"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="sbasSignalType">
    <xsd:annotation>
      <xsd:documentation>
        SBAS signal.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="l1ca"/>
      <xsd:enumeration value="l5"/>
    </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>
