docs/xmlschemas/tpx/1/0/tpx.xsd

<?xml version="1.0"?>
<xsd:schema targetNamespace="http://logiqx.github.io/gps-wizard/xmlschemas/tpx/1/0"
  elementFormDefault="qualified"
  xmlns="http://logiqx.github.io/gps-wizard/xmlschemas/tpx/1/0"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:annotation><xsd:documentation>
  This schema defines universal extensions to be used with the GPX 1.1 schema.
  The root element defined by this schema is intended to be used as a child
  element of the "extensions" elements in the trkpt element in the GPX 1.1 schema. 
  The GPX 1.1 schema is available at https://www.topografix.com/GPX/1/1/gpx.xsd.
  </xsd:documentation></xsd:annotation>

  <xsd:element name="src" type="sourceType" />
  <xsd:element name="extras" type="extrasType" />

  <xsd:complexType name="sourceType" mixed="true">
    <xsd:annotation>
      <xsd:documentation>
        Source of data, included to give user some idea of reliability and accuracy of data.
        Recommended within "rte" or "trk" elements, instead of within "rtept" or "trkpt" elements.
        Text can also be included for backwards compatibility - e.g. "Sailmon Max".
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>	<!-- elements must appear in this order -->
      <xsd:element name="device" type="deviceType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Information about the GPS device / wearable.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="software" type="softwareType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Information about the software / application used to capture + export the GPS data.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="deviceType">
    <xsd:annotation>
      <xsd:documentation>
        Device information, included to give user some idea of reliability and accuracy of data.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>	<!-- elements must appear in this order -->
      <xsd:element name="manufacturer" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Manufacturer of the GPS device / wearable.
            >e.g. "Samsung"
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="product" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Product name of the GPS device / wearable, preferably without mentioning the product manufacturer.
            e.g. "Galaxy A53"
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="model" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Model number of the GPS device / wearable.
            e.g. "‎SM-A536BZKNEUB"
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="serial" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Serial number of the GPS device / wearable.
            e.g. "ABCDE9ABC9X"
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="name" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Name of the GPS device / wearable, typically chosen by the owner.
            e.g. "Mike's A53"
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="version" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Firmware / software / OS version of the GPS device / wearable.
            e.g. "android13-5.10-A536BXXS7CWG2"
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="softwareType">
    <xsd:annotation>
      <xsd:documentation>
        Application information, included to give user some idea of reliability and accuracy of data.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>	<!-- elements must appear in this order -->
      <xsd:element name="developer" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Developer of the software / application used to capture + export the GPS data.
            This may match the "creator" attribute but unlike "creator", it should persist after (possible) post-processing.
            e.g. "barbeauDev"
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="application" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Name of the software / application used to capture + export the GPS data.
            This may match the "creator" attribute but unlike "creator", it should persist after (possible) post-processing.
            e.g. "GPSTest"
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="link" type="linkType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
            Link to the software / application used to capture + export the GPS data.
            e.g. href="https://github.com/barbeau/gpstest"
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="version" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Version of the software / application used to capture + export the GPS data.
            e.g. "3.10.3"
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="linkType">
   <xsd:annotation>
    <xsd:documentation>
	 A link to an external resource (Web page, digital photo, video clip, etc) with additional information.
    </xsd:documentation>
   </xsd:annotation>
   <xsd:sequence>	<!-- elements must appear in this order -->
    <xsd:element name="text"		type="xsd:string"		minOccurs="0">
	 <xsd:annotation>
	  <xsd:documentation>
		Text of hyperlink.
	  </xsd:documentation>
	 </xsd:annotation>
	</xsd:element>
    <xsd:element name="type"		type="xsd:string"		minOccurs="0">
	 <xsd:annotation>
	  <xsd:documentation>
		Mime type of content (image/jpeg)
	  </xsd:documentation>
	 </xsd:annotation>
	</xsd:element>
   </xsd:sequence>
   <xsd:attribute name="href" type="xsd:anyURI" use="required">
	 <xsd:annotation>
	  <xsd:documentation>
		URL of hyperlink.
	  </xsd:documentation>
	 </xsd:annotation>
	</xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="extrasType">
    <xsd:annotation>
      <xsd:documentation>
        This type contains data fields that cannot be represented in track points in GPX 1.1 instances.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>	<!-- elements must appear in this order -->
      <xsd:element name="course" type="courseType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Course over ground (COG) in degrees is the actual direction of travel relative to true north. COG is an independent measurement from position, so it is possible (and not an error) for the difference between two successive positions to be inconsistent with the COG values.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="speed" type="horizontalSpeedType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Speed over ground (SOG) in m/s is the horizontal speed calculated by the GPS / GNSS chipset. SOG is an independent measurement from position, so it is possible (and not an error) for the difference between two successive positions to be inconsistent with the SOG values.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="roc" type="verticalSpeedType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Rate of climb (ROC) in m/s is the vertical speed calculated by the GPS / GNSS chipset. ROC is an independent measurement from position, so it is possible (and not an error) for the difference between two successive positions to be inconsistent with the ROC values.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="hacc" type="positionalAccuracyType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Horizontal accuracy / error estimate in meters, such that the difference from the true position and the reported position is less than the accuracy / error estimate 68% of the time. 68% corresponds to 1-sigma of a normal distribution, but this does not imply that errors are independent or normally distributed.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="vacc" type="positionalAccuracyType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Vertical accuracy / error estimate in meters, such that the difference from the true position and the reported position is less than the accuracy / error estimate 68% of the time. 68% corresponds to 1-sigma of a normal distribution, but this does not imply that errors are independent or normally distributed.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="cacc" type="courseAccuracyType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Course over ground (COG) accuracy / error estimate in degrees, such that the difference from the true COG and the reported COG is less than the accuracy / error estimate 68% of the time. 68% corresponds to 1-sigma of a normal distribution, but this does not imply that errors are independent or normally distributed.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="sacc" type="speedAccuracyType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Speed over ground (SOG) accuracy / error estimate in m/s, such that the difference from the true SOG and the reported SOG is less than the accuracy / error estimate 68% of the time. 68% corresponds to 1-sigma of a normal distribution, but this does not imply that errors are independent or normally distributed.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="racc" type="speedAccuracyType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Rate of climb (ROC) accuracy / error estimate in m/s, such that the difference from the true ROC and the reported ROC is less than the accuracy / error estimate 68% of the time. 68% corresponds to 1-sigma of a normal distribution, but this does not imply that errors are independent or normally distributed.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="courseType">
    <xsd:annotation><xsd:documentation>
      This type contains a course, measured in degrees (clockwise from true north).
    </xsd:documentation></xsd:annotation>
    <xsd:restriction base="xsd:decimal">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="360"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="horizontalSpeedType">
    <xsd:annotation><xsd:documentation>
      This type contains a horizontal speed (speed over ground), measured in meters per second.
    </xsd:documentation></xsd:annotation>
    <xsd:restriction base="xsd:decimal">
      <xsd:minInclusive value="0"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="verticalSpeedType">
    <xsd:annotation><xsd:documentation>
      This type contains a vertical speed (rate of climb), measured in meters per second.
      Positive values = ascending, negative values = descending.
    </xsd:documentation></xsd:annotation>
    <xsd:restriction base="xsd:decimal"/>
  </xsd:simpleType>

  <xsd:simpleType name="positionalAccuracyType">
    <xsd:annotation><xsd:documentation>
      This type contains a positional accuracy estimate (horizontal or vertical), measured in meters.
    </xsd:documentation></xsd:annotation>
    <xsd:restriction base="xsd:decimal">
      <xsd:minInclusive value="0"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="courseAccuracyType">
    <xsd:annotation><xsd:documentation>
      This type contains a course accuracy estimate, measured in degrees.
    </xsd:documentation></xsd:annotation>
    <xsd:restriction base="xsd:decimal">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="180"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="speedAccuracyType">
    <xsd:annotation><xsd:documentation>
      This type contains a speed accuracy estimate (horizontal or vertical), measured in meters per second.
    </xsd:documentation></xsd:annotation>
    <xsd:restriction base="xsd:decimal">
      <xsd:minInclusive value="0"/>
    </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>
