docs/xmlschemas/tpx10.xsd

<?xml version="1.0"?>
<xsd:schema targetNamespace="http://logiqx.github.io/gps-wizard/xmlschemas/tpx/1/0"
  elementFormDefault="qualified"
  xmlns="http://logiqx.github.io/gps-wizard/xmlschemas/tpx/1/0"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:annotation><xsd:documentation>
  This schema defines universal extensions to be used with the GPX 1.1 schema.
  The root element defined by this schema is intended to be used as a child
  element of the "extensions" elements in the trkpt element in the GPX 1.1 schema. 
  The GPX 1.1 schema is available at http://www.topografix.com/GPX/1/1/gpx.xsd.
  </xsd:documentation></xsd:annotation>

  <xsd:element name="src" type="sourceType" />
  <xsd:element name="extras" type="extrasType" />

  <xsd:complexType name="sourceType" mixed="true">
    <xsd:annotation>
      <xsd:documentation>
        Source of data, included to give user some idea of reliability and accuracy of data.
        Recommended within "rte" or "trk" elements, instead of within "rtept" or "trkpt" elements.
        Text can also be included for backwards compatibility - e.g. "Sailmon Max".
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>	<!-- elements must appear in this order -->
      <xsd:element name="device" type="deviceType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Information about the GPS device / wearable.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="software" type="softwareType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Information about the software / application used to capture + export the GPS data.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="deviceType">
    <xsd:annotation>
      <xsd:documentation>
        Device information, included to give user some idea of reliability and accuracy of data.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>	<!-- elements must appear in this order -->
      <xsd:element name="manufacturer" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Manufacturer of the GPS device / wearable.
            e.g. "Apple"
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="product" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Product name of the GPS device / wearable, preferably without mentioning the product manufacturer.
            e.g. "Watch Series 8"
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="serial" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Serial number of the GPS device / wearable.
            e.g. "123456789"
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="name" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Name of the GPS device / wearable, typically chosen by the owner.
            e.g. "Nathan's Apple Watch"
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="version" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Firmware / software / OS version of the GPS device / wearable.
            e.g. "8.5.1"
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="softwareType">
    <xsd:annotation>
      <xsd:documentation>
        Application information, included to give user some idea of reliability and accuracy of data.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>	<!-- elements must appear in this order -->
      <xsd:element name="developer" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Developer of the software / application used to capture + export the GPS data.
            This may match the "creator" attribute but unlike "creator", it should persist after (possible) post-processing.
            e.g. "Hoolan Ltd"
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="application" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Name of the software / application used to capture + export the GPS data.
            This may match the "creator" attribute but unlike "creator", it should persist after (possible) post-processing.
            e.g. "Hoolan"
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="link" type="linkType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Link to the software / application used to capture + export the GPS data.
            e.g. "https://www.hoolan.app/" with href element.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="version" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Version of the software / application used to capture + export the GPS data.
            e.g. "1.6.0"
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="linkType">
   <xsd:annotation>
    <xsd:documentation>
	 A link to an external resource (Web page, digital photo, video clip, etc) with additional information.
    </xsd:documentation>
   </xsd:annotation>
   <xsd:sequence>	<!-- elements must appear in this order -->
    <xsd:element name="text"		type="xsd:string"		minOccurs="0">
	 <xsd:annotation>
	  <xsd:documentation>
		Text of hyperlink.
	  </xsd:documentation>
	 </xsd:annotation>
	</xsd:element>
    <xsd:element name="type"		type="xsd:string"		minOccurs="0">
	 <xsd:annotation>
	  <xsd:documentation>
		Mime type of content (image/jpeg)
	  </xsd:documentation>
	 </xsd:annotation>
	</xsd:element>
   </xsd:sequence>
   <xsd:attribute name="href" type="xsd:anyURI" use="required">
	 <xsd:annotation>
	  <xsd:documentation>
		URL of hyperlink.
	  </xsd:documentation>
	 </xsd:annotation>
	</xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="extrasType">
    <xsd:annotation>
      <xsd:documentation>
        This type contains data fields that cannot be represented in track points in GPX 1.1 instances.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>	<!-- elements must appear in this order -->
      <xsd:element name="course" type="courseType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Course over ground (COG), sometimes (incorrectly) referred to as heading or bearing.
            Measured in degrees, COG is the actual direction of travel relative to due north.
            Course was available in GPX 1.0 but (possibly inadvertently) removed in GPX 1.1.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="speed" type="horizontalSpeedType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Horizontal speed, often referred to as speed over ground (SOG).
            Measured in m/s it is typically derived from the Doppler observables and far more accurate than position-derived speeds.
            Speed was available in GPX 1.0 but (possibly inadvertently) removed in GPX 1.1.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="roc" type="verticalSpeedType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Rate of climb (ROC), sometimes referred to as climb rate or vertical speed.
            Measured in m/s, positive values indicate increasing altitude, whilst negative values indicate decreasing altitude.
            Only available from some GPS / GNSS chipsets (e.g. SiRF in their binary output).
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="hacc" type="positionalAccuracyType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Horizontal accuracy estimate, sometimes referred to as horizontal [position] error.
            Measured in meters it represents a likely accuracy of +/- the given value.
            Typically the estimated horizontal accuracy of this location at the 68th percentile confidence level.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="vacc" type="positionalAccuracyType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Vertical accuracy estimate, sometimes referred to as vertical [position] error or altitude error.
            Measured in meters it represents a likely accuracy of +/- the given value.
            Typically the estimated vertical accuracy of this location at the 68th percentile confidence level.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="cacc" type="courseAccuracyType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Course accuracy estimate, sometimes (incorrectly) referred to as heading / bearing accuracy (or error).
            Measured in degrees it represents a likely accuracy of +/- the given value.
            Typically the estimated course accuracy at the 68th percentile confidence level.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="sacc" type="speedAccuracyType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Speed accuracy estimate, sometimes referred to as horizontal speed / velocity error.
            Measured in m/s it represents a likely accuracy of +/- the given value.
            Typically the estimated horizontal speed (SOG) accuracy at the 68th percentile confidence level.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="racc" type="speedAccuracyType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Rate of climb (ROC) accuracy estimate, sometimes referred to as vertical speed / velocity error.
            Measured in m/s it represents a likely accuracy of +/- the given value.
            Typically the estimated rate of climb (ROC) accuracy at the 68th percentile confidence level.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="courseType">
    <xsd:annotation><xsd:documentation>
      This type contains a course, measured in degrees (clockwise from true north).
    </xsd:documentation></xsd:annotation>
    <xsd:restriction base="xsd:decimal">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="360"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="horizontalSpeedType">
    <xsd:annotation><xsd:documentation>
      This type contains a horizontal speed (speed over ground), measured in meters per second.
    </xsd:documentation></xsd:annotation>
    <xsd:restriction base="xsd:decimal">
      <xsd:minInclusive value="0"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="verticalSpeedType">
    <xsd:annotation><xsd:documentation>
      This type contains a vertical speed (rate of climb), measured in meters per second.
      Positive values = ascending, negative values = descending.
    </xsd:documentation></xsd:annotation>
    <xsd:restriction base="xsd:decimal"/>
  </xsd:simpleType>

  <xsd:simpleType name="positionalAccuracyType">
    <xsd:annotation><xsd:documentation>
      This type contains a positional accuracy estimate (horizontal or vertical), measured in meters.
    </xsd:documentation></xsd:annotation>
    <xsd:restriction base="xsd:decimal">
      <xsd:minInclusive value="0"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="courseAccuracyType">
    <xsd:annotation><xsd:documentation>
      This type contains a course accuracy estimate, measured in degrees.
    </xsd:documentation></xsd:annotation>
    <xsd:restriction base="xsd:decimal">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="180"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="speedAccuracyType">
    <xsd:annotation><xsd:documentation>
      This type contains a speed accuracy estimate (horizontal or vertical), measured in meters per second.
    </xsd:documentation></xsd:annotation>
    <xsd:restriction base="xsd:decimal">
      <xsd:minInclusive value="0"/>
    </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>
